
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #808080;
}

a:hover {
  text-decoration: none;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #e4f9f5;
  color: #000000;
}

.white-section {
  background-color: #fff;
}

.mint-section {
  background-color: #66BFBF; 
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

#brand {
  color: #66BFBF;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #e4f9f5;
  color: #000000;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #66BFBF;
}

.boja {
  color: #808080;
}
/* Testimonial Section */

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.margin {
  padding: 40px 0 0 0;
}

#testimonials {
  background-color: #e4f9f5;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.boja_linka {
  color: #66BFBF;
}

.boja_linka:hover {
  color: #66BFBF;
  text-decoration: none;
  font-weight: bold;
}
/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 20px;
  font-size: 3rem;
}

.copy {
  font-size: 0.75rem;
  color: #EAF6F6;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}




.menuEight span,.menuFive span,.menuFour span,.menuSeven span,.menuSix
.span,.menuThree span,.menuTwo
.span{background-color:#66BFBF;border-radius:2px;box-shadow:1px 1px 1px
.#000!important;}

.menuEight{width:35px;height:30px;position:relative;}
.menuEight span{position:absolute;transition:.3s cubic-bezier(.8,.5,.2,1.4);width:100%;height:4px;}
.menuEight span:nth-child(1){top:0;left:0;}
.menuEight span:nth-child(2){top:13px;left:0;}
.menuEight span:nth-child(3){bottom:0;left:0;}
.menuEight:not(.clickMenuEight):hover span:nth-child(1){transform:scaleX(.8);}
.menuEight:not(.clickMenuEight):hover span:nth-child(2){transform:scaleX(.5);}
.menuEight:not(.clickMenuEight):hover span:nth-child(3){transform:scaleX(.8);}
.clickMenuEight span:nth-child(1),.clickMenuEight span:nth-child(3){top:13px;}
.menuEight,.menuFive,.menuSeven,.menuSix{margin:10px;cursor:pointer;display:inline-block;}